/* linea de comentario*/

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #000000;
    width: 100%;
    overflow-x: hidden;
    height: 100vh;
}

main {
    height: 100vh;
}

.activo {
    font-weight: bold;
    text-decoration: underline;
}

.banner {
    width: 96%;
    max-height: 600px;
    object-fit: cover;
    margin-right: 2%;
    margin-left: 2%;
}

/* --------- Página de Inicio --------- */

h1 {
    color: #000000;
    margin: 10px 0;
    text-align: center;
    margin-top: 50px;
    font-size: 50px;

}

nav {
    background-color: #00a3e0;
    padding: 20px 0;
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav ul {
    list-style: none;
    margin: 40px;
    padding: 0;
    justify-content: center;
    gap: 50px;
    background-color: transparent;
    margin-right: 40px;

}

nav ul li {
    display: inline-block;

}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 25px;
    cursor: pointer;
    padding-left: 8px;
    padding-right: 8px;
}


nav {
    color: #000000;
    margin: 20px 0;
    text-align: right;

}


ul.productos-inicio {
    color: #000000;
    width: 180px;
    height: 160px;
    border-radius: 15px;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    font-weight: bold;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 50px;

}


.rosa {
    background-color: #efb3bc;
}

.amarillo {
    background-color: #efe2b3;
}

.contenedor-producto {

    display: flex;
    justify-content: center;
}

.contenedor-producto ul {

    list-style: none;

}

/* --------- Página Sobre Nosotros --------- */

.img {}

p.descripcion-empresa {
    color: #000000;
    margin: 50px 0;
    margin-left: 90px;
    margin-right: 90px;
    text-align: center;
    font-size: 20px;

}

ul.mision,
ul.vision,
ul.valores {
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    font-weight: bold;
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px;
    margin: 50px;
}

ul.mision {}

ul.vision {}

ul.valores {}


.contenedor-mision-vision-valores {

    display: flex;
    justify-content: center;

}

.contenedor-mision-vision-valores ul {

    list-style: none;

}


/* --------- Página Contactos --------- */

.contenedores-info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    text-align: center;
    align-content: center;
    flex-wrap: wrap;
    height: 100vh;
}

.contenedores-info div {
    text-align: center;
    display: block;
}


.contenedor-contacto {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    width: 30%;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 0 #efb3bc;

}

.h2 {
    font-size: 24px;
    margin-bottom: 15px;
}

.p {

    font-size: 16px;
    line-height: 1.5;
}


.contenedor-redes {

    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding: 30px;
    width: 30%;
    border-radius: 25px;
    padding: 20px;
    box-shadow: 5px 5px 0 #efb3bc;
}

p.derecho-autor {
    color: #000000;
    text-align: center;
    background-color: #c2ecfd;
    padding: 10px;
    font-size: 14px;
    position: relative;
    bottom: 0;
    width: 100%;
    margin: 0;
}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;

}